{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
    <h1>Vehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Vin</th>
                <th>Immatriculation</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Version</th>
                <th>Kilometrage</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.vin }}</td>
                <td>{{ vehicule.immatriculation }}</td>
                <td>{{ vehicule.marque }}</td>
                <td>{{ vehicule.modele }}</td>
                <td>{{ vehicule.version }}</td>
                <td>{{ vehicule.kilometrage }}</td>
                <td>{{ vehicule.prix }}</td>
                <td>
                    <a href="{{ path('app_vehicule_show', {'id': vehicule.id}) }}">show</a>
                    <a href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vehicule_new') }}">Create new</a>

    <div class="pagination">
        {% for page in 1..totalPages %}
            <a href="{{ path('app_vehicule_index', {'page': page}) }}">
                {{ page }}
            </a>
        {% endfor %}
    </div>
{% endblock %}
