{% extends 'base.html.twig' %}

{% block title %}Dossier{% endblock %}

{% block body %}
    <h1>Dossier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dossier.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ dossier.type }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ dossier.statut }}</td>
            </tr>
            <tr>
                <th>Documents</th>
                <td>{{ dossier.documents ? dossier.documents|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dossier_index') }}">back to list</a>

    <a href="{{ path('app_dossier_edit', {'id': dossier.id}) }}">edit</a>

    {{ include('dossier/_delete_form.html.twig') }}
{% endblock %}
